html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

.help {
  position: absolute;
  top: 30px;
  left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color: white;
  background: rgba(34, 34, 34, 0.75);
  border: 1px solid rgb(34, 34, 34);
  border-radius: 5px;
  padding: 15px;
}

.help p {
  margin-top: 0;
  margin-bottom: 10px;
}

.help hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

#current-level {
  color: #74f074;
}

#equipped-weapon {
  color: #27a2f5;
}

#enemies-remaining {
  color: #ff4040;
}

#out-of-ammo {
  display: none;
  color: #be3e3e;
}

.game-ended-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.game-ended {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.game-ended h1 {
  margin-bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6rem;
  color: white;
  text-transform: uppercase;
}

.level-failed {
  background: rgba(197, 13, 13, 0.8);
}

.level-passed {
  background: rgba(13, 197, 38, 0.712);
}

.out-of-ammo {
  border: none;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-shadow: 1px 5px 4px rgba(0, 0, 0, .3), 0 0 2px rgb(221, 145, 145), 0 0 10px;
}

.out-of-ammo span {
  animation: blink .7s infinite alternate;
}

.out-of-ammo span.delay {
  animation-duration: 6s;
  animation-delay: 2s;
  animation-direction: alternate cubic-bezier(0.5, 0.2, 0.3, 1.0)
}

@keyframes blink {
  0% {}
  50% {}
  80% {
    text-shadow: 0 0 2px rgba(255, 255, 255, .1), 0 0 10px rgba(255, 255, 255, .4);
    text-stroke: 2px rgba(255, 255, 255, 0.05);
  }
}

.keyboard {
  width: 300px;
  margin: 0 auto;
}
.keyboard .top-row {
  width: 120px;
  margin: 0 auto;
}
.keyboard .bottom-row {
  display: inline-flex;
}
.keyboard-key {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353943;
  border: 1px solid #8fce00;
  box-shadow: 3px 3px #d9ff82;
  border-radius: 5px;
  color: #ffffff;
  width: 60px;
  margin: 15px;
  text-align: center;
  top: 0;
  left: 0;
  transition: all 0.07s ease;
}
.keyboard-key__active {
  background: #ffffff;
  color: #000000;
  box-shadow: 3px 3px #7e7e7d;
}
.keyboard-key > p {
  margin-top: 5px;
  margin-bottom: 10px;
}