@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


/***************************|
 | Defaults                 |
 ***************************/
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: 'VT323', monospace;
}

canvas {
  cursor: crosshair;
}

#current-level {
  color: #50ffb0;
}

#equipped-weapon {
  color: #27a2f5;
}

#enemies-remaining {
  color: #ff4040;
}

.volume-slider {
  background: linear-gradient(to right, #50ffb0 0%, #50ffb0 50%, #fff 50%, #fff 100%);
  border: solid 1px #50ffb0;
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  appearance: none;
  -webkit-appearance: none;
}

/***************************|
 | Splash screen            |
 ***************************/
.body-splash {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  background-image: url("./img/splash.webp");
  /* background-position: center; */
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.splash {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display:flex;
  align-items: center;
}

.splash__text {
  width: 100%;
  margin: auto;
  position: absolute;
  text-align: center;
}

.splash__heading {
  margin: 0px auto;
  font-size: 12rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 100px rgb(240 241 241 / 74%);
  background: -webkit-linear-gradient(#09CF8D, #222222);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: splash 80s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-animation: splash 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

@keyframes splash {
  0% { background-position: 0% 50%; }
  100% {background-position: 100% 50%; }
}
@-webkit-keyframes splash {
  0% { background-position: 0% 50%; }
  100% {background-position: 100% 50%; }
}

.splash__button {
  display: block;
  margin: 0 auto;
  height: 70pt;
  width: calc(30pt * 10);
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  background: transparent;
  image-rendering: pixelated;
  border: 0;
}

.splash__button__text {
  font-family: 'VT323', monospace;
  font-size: 4rem;
  width: 100%;
  height: 100%;
  padding-bottom: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  text-shadow: 0 0 15px #50ffb0;
}

.splash__button:hover .splash__button__text {
  color: #f5d95c;
  text-shadow: 0 0 30px #50ffb0;
}


/***************************|
 | Help and controls        |
 ***************************/
.help-section {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color: white;
  background: rgba(34, 34, 34, 0.7);
  box-shadow: 0 0 15px #50ffb0;
  border: 1px solid #50ffb0;
  border-radius: 5px;
  padding: 15px;
}

.help-section__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.help-section__separator {
  margin-top: 20px;
  margin-bottom: 20px;
}

.help-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.help-block--wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  font-size:.75rem;
}

.help-block__img {
  width: 40px;
  /* margin-right: 20px; */
}

.help-block__text--muted {
  font-size: 0.75rem;
  color:#aaaaaa;
}

.help-block__hotkey {
  padding: 5px 10px 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 5px;
  font-size: .75rem;
}

.help-block__hotkey--active {
  background-color: #f5f5f5;
  color: black;
  box-shadow: 3px 3px #7e7e7d;
}

/***************************|
 | Game ended display       |
 ***************************/
.game-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.game-overlay__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  color: white;
}

.game-overlay__text--big {
  font-size: 6rem;
  text-transform: uppercase;
}


/***************************|
 | Out of ammo display      |
 ***************************/
#out-of-ammo {
  display: none;
  border: none;
  color: #be3e3e;
  text-align: center;
  text-shadow: 1px 5px 4px rgba(0, 0, 0, .3), 0 0 2px rgb(221, 145, 145), 0 0 10px;
}

#out-of-ammo span {
  animation: blink .7s infinite alternate;
}

#out-of-ammo span.delay {
  animation-duration: 6s;
  animation-delay: 2s;
  animation-direction: alternate cubic-bezier(0.5, 0.2, 0.3, 1.0)
}

@keyframes blink {
  0% {}
  50% {}
  80% {
    text-shadow: 0 0 2px rgba(255, 255, 255, .1), 0 0 10px rgba(255, 255, 255, .4);
    text-stroke: 2px rgba(255, 255, 255, 0.05);
  }
}


/***************************|
 | WSAD Map                 |
 ***************************/
.keyboard {
  width: 300px;
  margin: 0 auto;
}

.keyboard__top-row {
  width: 120px;
  margin: 0 auto;
}

.keyboard__bottom-row {
  display: inline-flex;
}

.keyboard__key {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353943;
  border: 1px solid #50ffb0;
  box-shadow: 3px 3px #50ffb0;
  border-radius: 5px;
  color: #ffffff;
  width: 60px;
  margin: 15px;
  text-align: center;
  top: 0;
  left: 0;
  transition: all 0.07s ease;
}

.keyboard__key > p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.keyboard__key--active {
  background: #ffffff;
  color: #000000;
  box-shadow: 3px 3px #7e7e7d;
}


/***************************|
 | Stats UI                 |
 ***************************/
.stats {
  position: absolute;
  top: 0px;
  right: 0px;
}


/***************************|
 | Utility classes          |
 ***************************/
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
}

.grow {
  flex-grow: 1
}

.flex-align-gap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.space-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

.inactive {
  display: none;
}

.fail {
  background: rgba(197, 13, 13, 0.8);
}

.pass {
  background: rgba(13, 197, 38, 0.712);
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}